@font-face {
    font-family: "DroidSansRegular";
    font-style: normal;
    font-weight: normal;
    src: url("DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("DroidSans-webfont.woff") format("woff"), url("DroidSans-webfont.ttf") format("truetype"), url("DroidSans-webfont.svg#DroidSansRegular") format("svg");
}
